In [ ]:
pip install yfinance

In [1]:
import yfinance as yf
from datetime import datetime
import time

In [2]:
ticker = "ADA-USD"
start = "2010-11-10"
end = "2020-12-20"
end1 = datetime.now()
interval = "1d"

In [10]:
type(end1)
print(type(end1))

if str(type(end1))  == "<class 'datetime.datetime'>" :
    print( "Yess")

<class 'datetime.datetime'>
Yess

In [91]:
startDate = date(int(start[0:4]) , int(start[5:7]),  int(start[8:10]))
endDate = date(int(end[0:4]) , int(end[5:7]),  int(end[8:10]))

t = endDate - startDate
t.days
#end - startDate

1501

In [ ]:
start[0:4]

باید کدی نوشته شود که 
1 : نخست اختلاف را بدست آورد
2 : سپس متغیر interval  را بررسی کند.
3 : برای بازه یک روز باید طول فاصله زیر یا مساوی 60 روز باشد
4 : برای

In [ ]:
intEnd= int(''.join(end.split('-')))

intStart = int(''.join(start.split('-')))
intEnd , intStart

In [ ]:
from datetime import date, timedelta
date1 = date(2011, 10, 10)
date3 = date(2011, 10, 11)
#date2 = date1 + timedelta(days=22)
date3
#print (date2)

In [29]:
ticker = "ADA-USD"
start = "2021-02-18"
end = "2023-02-17"
#end = datetime.now()
interval = "1h"

In [30]:

data = yf.download(ticker, start, end, interval=interval)

data

[*********************100%***********************]  1 of 1 completed

,Open,High,Low,Close,Adj Close,Volume
Datetime,,,,,,
2021-02-18 00:00:00+00:00,0.890869,0.903902,0.890869,0.901579,0.901579,61819392
2021-02-18 01:00:00+00:00,0.901428,0.919448,0.897830,0.916294,0.916294,132171776
2021-02-18 02:00:00+00:00,0.915757,0.921916,0.908968,0.921885,0.921885,24070656
2021-02-18 03:00:00+00:00,0.920956,0.920956,0.906574,0.906937,0.906937,0
2021-02-18 04:00:00+00:00,0.907091,0.916852,0.907091,0.914849,0.914849,19799552
...,...,...,...,...,...,...
2023-02-16 19:00:00+00:00,0.409050,0.409050,0.405047,0.405098,0.405098,0
2023-02-16 20:00:00+00:00,0.405076,0.405507,0.397471,0.399954,0.399954,0
2023-02-16 21:00:00+00:00,0.399721,0.399746,0.397234,0.397433,0.397433,0
2023-02-16 22:00:00+00:00,0.397473,0.398145,0.390868,0.391616,0.391616,3732800
2023-02-16 23:00:00+00:00,0.391133,0.391894,0.387687,0.387848,0.387848,0