In [ ]:
pip install yfinance

In [4]:
import yfinance as yf
from datetime import datetime
import time

In [2]:
ticker = "ADA-USD"
start = "2010-11-10"
end = "2020-12-20"
end1 = datetime.now()
interval = "1d"

In [10]:
type(end1)
print(type(end1))

if str(type(end1))  == "<class 'datetime.datetime'>" :
    print( "Yess")

<class 'datetime.datetime'>
Yess

In [91]:
startDate = date(int(start[0:4]) , int(start[5:7]),  int(start[8:10]))
endDate = date(int(end[0:4]) , int(end[5:7]),  int(end[8:10]))

t = endDate - startDate
t.days
#end - startDate

1501

In [ ]:
start[0:4]

باید کدی نوشته شود که 
1 : نخست اختلاف را بدست آورد
2 : سپس متغیر interval  را بررسی کند.
3 : برای بازه یک روز باید طول فاصله زیر یا مساوی 60 روز باشد
4 : برای

In [ ]:
intEnd= int(''.join(end.split('-')))

intStart = int(''.join(start.split('-')))
intEnd , intStart

In [ ]:
from datetime import date, timedelta
date1 = date(2011, 10, 10)
date3 = date(2011, 10, 11)
#date2 = date1 + timedelta(days=22)
date3
#print (date2)

In [11]:
ticker = "ADA-USD"
start = "2023-01-01"
end = "2023-02-16"
#end = datetime.now()
interval = "2m"

In [12]:

data = yf.download(ticker, start, end, interval=interval)

data

[*********************100%***********************]  1 of 1 completed

,Open,High,Low,Close,Adj Close,Volume
Datetime,,,,,,
2023-01-18 00:00:00+00:00,0.345771,0.345771,0.345583,0.345583,0.345583,0
2023-01-18 00:02:00+00:00,0.345745,0.345745,0.345722,0.345722,0.345722,0
2023-01-18 00:04:00+00:00,0.345822,0.345871,0.345822,0.345871,0.345871,47872
2023-01-18 00:06:00+00:00,0.345895,0.346297,0.345895,0.346297,0.346297,0
2023-01-18 00:08:00+00:00,0.346294,0.346344,0.346294,0.346344,0.346344,3232