In [ ]:
pip install yfinance

In [ ]:
import yfinance as yf
from datetime import datetime
import time

In [ ]:
ticker = "ADA-USD"
start = "2010-11-10"
end = "2020-12-20"
#end = datetime.now()
interval = "1d"

In [ ]:
startDate = date(int(start[0:4]) , int(start[5:7]),  int(start[8:10]))
endDate = date(int(end[0:4]) , int(end[5:7]),  int(end[8:10]))

t = endDate - startDate
t.days
#end - startDate

In [ ]:
start[0:4]

باید کدی نوشته شود که 
1 : نخست اختلاف را بدست آورد
2 : سپس متغیر interval  را بررسی کند.
3 : برای بازه یک روز باید طول فاصله زیر یا مساوی 60 روز باشد
4 : برای

In [ ]:
intEnd= int(''.join(end.split('-')))

intStart = int(''.join(start.split('-')))
intEnd , intStart

In [ ]:
from datetime import date, timedelta
date1 = date(2011, 10, 10)
date3 = date(2011, 10, 11)
#date2 = date1 + timedelta(days=22)
date3
#print (date2)

In [88]:
ticker = "ADA-USD"
start = "2016-11-10"
end = "2020-12-20"
#end = datetime.now()
interval = "1w"

In [89]:

data = yf.download(ticker, start, end, interval)
#data.tail(5)
data.head(5)

[*********************100%***********************]  1 of 1 completed

,Open,High,Low,Close,Adj Close,Volume,Dividends,Stock Splits
Date,,,,,,,,
2017-11-09,0.025160,0.035060,0.025006,0.032053,0.032053,18716200,0.0,0.0
2017-11-10,0.032219,0.033348,0.026451,0.027119,0.027119,6766780,0.0,0.0
2017-11-11,0.026891,0.029659,0.025684,0.027437,0.027437,5532220,0.0,0.0
2017-11-12,0.027480,0.027952,0.022591,0.023977,0.023977,7280250,0.0,0.0
2017-11-13,0.024364,0.026300,0.023495,0.025808,0.025808,4419440,0.0,0.0